.stats-grid, .poopGrid {
  display: grid;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.stats-grid {
  grid-template-columns: 110px 8fr;
}

.poopGrid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.poopGrid img {
  width: 100%;
}

.choice-card {
  padding: 40px 10%;
  text-align: center;
  margin-top: 10%;
}

.main {
  display: none;
}

.buttons {
  text-align: center;
}

#age {
  background-color: red;
}

body {
  background-color: lightgray;
}

#go {
  margin-top: 20px;
}

.animal {
  text-align: center;
  margin-top: 20px;
  width: 100%
}

.animal img {
  width: 100%;
}
